{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>djANGular SPA</title>
    <base href="/">
</head>
<body ng-app="myApp">

<header ng-controller="headerCtrl">
    <div class="header-item">Heading</div>

    <div>{% verbatim %}
        {{ user.username }}
    {% endverbatim %}</div>
    <a href="#" ng-click="logout($event)">logout</a>
</header>

<ui-view></ui-view>

<footer>
    <a ui-sref="home" class="footer-item"><img src="{% static 'chat/house.svg' %}"></a>
    <a ui-sref="cameraTest" class="footer-item"><img src="{% static 'chat/photo-camera.svg' %}"></a>
    <a ui-sref="cabinet" class="footer-item"><img src="{% static 'chat/avatar.svg' %}"></a>
    <a ui-sref="mail" class="footer-item"><img src="{% static 'chat/mail.svg' %}"></a>
</footer>

<script src="{% static 'main.js' %}"></script>
</body>
</html>
