<div class="room-header">
    <div class="hidden-md-up">
        <button type="button" ng-click="$emit('triggerSidePanel')">ham</button>
    </div>
    <div class="django_chat-col">header</div>
    <div>
        <button type="button">+</button>
    </div>
</div>
<div class="room-messages">
    <message ng-repeat="message in messages" message="message"></message>
</div>
<br>
<div class="room-controls">
    <button type="button" class="room-controls-btn-upload" title="Upload">U</button>
    <textarea class="room-message-text"></textarea>
    <button type="button" class="room-controls-btn-send" title="Send">Send</button>
</div>
