@import "../../../../mixin/_colors.less";
@import "../../../../mixin/_flexMixin.less";
@import "../../../../mixin/_helpers.less";

room {
  padding-bottom: 15px;
  .flex-display();
  .flex-direction(column);

  .svg-message-tail {
    polygon {
      fill: @colLight;
    }
  }

  .room-header {
    padding: 0 15px;
    height: 50px;
    .flex-display();
    .align-items(center);

    background: @colDark;
    color: @colLight;
  }

  .room-header-text {
    .flex(1);
  }

  .room-messages {
    padding: 0 15px;
    .flex(1);
    .flex-display();
    .flex-direction(column-reverse);
    overflow: auto;
  }

  .room-controls {
    padding: 0 15px;
    height: 60px;
    .flex-display();
  }

  .room-message-text {
    .flex(1);

    resize: none;
  }
}
